<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{.Page.Name}}</title>
    <meta name="description" content="{{.Page.Description}}">
    <meta name="author" content="Omer Mercan">
</head>
<body>
    <h1>{{.Page.Name}}</h1>
    {{range .Users}}
    <p>
        <strong>{{.ID}} - {{.Name}} </strong> <i>by {{.Category}}</i>
        <br>
        <p>Profil : <a href="{{.Summary}}" target="_blank">Dijibil/{{.Name}}</a></p>
        {{range .Product}}
        <ul>
            <li>{{.ID}} - {{.Name}}</li>
        </ul>
        {{end}}
    </p>
    {{end}}
</body>
</html>